In [ ]:
# dataframes operations

In [ ]:
#Pandas DataFrame.append()
#The Pandas append() function is used to add the rows of other dataframe to the end of the given dataframe, returning a new dataframe object. The new columns and the new cells are inserted into the original DataFrame that are populated with NaN value.

#Syntax:
DataFrame.append(other, ignore_index=False, verify_integrity=False, sort=None)

In [8]:
import pandas as pd   
#Create first Dataframe using dictionary   
 info1=pd.DataFrame({"x":[25,15,12,19],   
                    "y":[47, 24, 17, 29]})     
# Create second Dataframe using dictionary   
 info2=pd.DataFrame({"x":[25, 15, 12],   
                    "y":[47, 24, 17],    
                    "z":[38, 12, 45]})   
# append info2 at end in info1   
 info.append(info2, ignore_index = True)

IndentationError: unexpected indent (1300012090.py, line 3)

In [7]:
# Example2:
import pandas as pd     
# Create first Dataframe using dictionary   
info1 = info = pd.DataFrame({"x":[15, 25, 37, 42],   
                         "y":[24, 38, 18, 45]})     
# Create second Dataframe using dictionary   
info2 = pd.DataFrame({"x":[15, 25, 37],   
                    "y":[24, 38, 45]})     
# print value of info1   
print(info1, "\n")    
# print values of info2   
info2   
# append info2 at the end of info1 dataframe   
info1.append(df2)   
# Continuous index value will maintained   
# across rows in the new appended data frame.   
info.append(info2, ignore_index = True)

    x   y
0  15  24
1  25  38
2  37  18
3  42  45

AttributeError: 'DataFrame' object has no attribute 'append'

In [ ]:
# Pandas DataFrame.apply()
# The Pandas apply() function allows the user to pass a function and apply it to every single value of the Pandas series. This function improves the capabilities of the panda's library because it helps to segregate data according to the conditions required. So that it can be efficiently used for data science and machine learning.

In [ ]:
# Syntax:
DataFrame.apply(func, axis=0, broadcast=None, raw=False, reduce=None, result_type=None, args=(), **kwds)

In [9]:
# Example:
info = pd.DataFrame([[2, 7]] * 4, columns=['P', 'Q'])  
info.apply(np.sqrt)  
info.apply(np.sum, axis=0)  
info.apply(np.sum, axis=1)  
info.apply(lambda x: [1, 2], axis=1)  
info.apply(lambda x: [1, 2], axis=1, result_type='expand')  
info.apply(lambda x: pd.Series([1, 2], index=['foo', 'bar']), axis=1)  
info.apply(lambda x: [1, 2], axis=1, result_type='broadcast')  
info

NameError: name 'np' is not defined

In [ ]:
# Pandas DataFrame.count()
#The Pandas count() is defined as a method that is used to count the number of non-NA cells for each column or row. It is also suitable to work with the non-floating data.

# Syntax:
DataFrame.count(axis=0, level=None, numeric_only=False)

In [15]:
# Example 1: The below example demonstrates the working of the count().

import pandas as pd  
import numpy as np  
info = pd.DataFrame({"Person":["Parker", "Smith", "William", "John"],  
"Age":} [27., 29, np.nan, 32])  
info.count()

SyntaxError: expression expected after dictionary key and ':' (446192795.py, line 6)

In [ ]:
# Pandas dataframe.nunique() Method
# Python is a great language for doing data analysis, primarily because of the fantastic ecosystem of data-centric Python packages. Pandas is one of those packages and makes importing and analyzing data much easier. 

# Pandas DataFrame.nunique Syntax
# Pandas dataframe.nunique() function returns a Series with a number of distinct observations over the requested axis. If we set the value of the axis to 0, then it finds the total number of unique observations over the index axis. If we set the value of the axis to 1, then it finds the total number of unique observations over the column axis. It also provides the feature to exclude the NaN values from the count of unique numbers.

In [16]:
import pandas as pd
 
# Creating the first dataframe
df = pd.DataFrame({"A":[14, 4, 5, 4, 1],
                "B":[5, 2, 54, 3, 2],
                "C":[20, 20, 7, 3, 8],
                    "D":[14, 3, 6, 2, 6]})
 
# Print the dataframe
df

    A   B   C   D
0  14   5  20  14
1   4   2  20   3
2   5  54   7   6
3   4   3   3   2
4   1   2   8   6

In [17]:
#Example 2: Use nunique() function to find the number of unique values over the index axis in a Dataframe. The Dataframe contains NaN values. 

# importing pandas as pd
import pandas as pd
 
# Creating the first dataframe
df = pd.DataFrame({"A": ["Sandy", "alex",
                         "brook", "kelly", np.nan],
                   "B": [np.nan, "olivia",
                         "olivia", "", "amanda"],
                   "C": [20 + 5j, 20 + 5j, 7, None, 8],
                   "D": [14.8, 3, None, 6, 6]})
 
# apply the nunique() function
df.nunique(axis=0, dropna=True)

NameError: name 'np' is not defined

In [ ]:
#Pandas DataFrame.query()
#For analyzing the data, we need a lot of filtering operations. Pandas provide a query() method to filter the DataFrame.

#It offers a simple way of making the selection and also capable of simplifying the task of index-based selection.

#Syntax
DataFrame.query(expr, inplace=False, **kwargs)

In [19]:
#Example1
info = pd.DataFrame({'X': range(1, 6),  
                    'Y': range(10, 0, -2),  
                    'Z Z': range(10, 5, -1)})  
info  
info.query('X > Y')  
info[info.X > info.Y]  
info[info.Y == info['Z Z']]

   X   Y  Z Z
0  1  10   10