In [ ]:
# selection 
# dataframe columns fromm a dataframe in python is a commmon operatoion when working with the 'pandas'libarary.here are several methods to select columns from a dataframe

In [2]:
import pandas as pd

# Create a sample DataFrame
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50],
    'C': [100, 200, 300, 400, 500],
    'D': [1000, 2000, 3000, 4000, 5000]
}

df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

Original DataFrame:
    A   B    C     D
0  1  10  100  1000
1  2  20  200  2000
2  3  30  300  3000
3  4  40  400  4000
4  5  50  500  5000

In [3]:
#Selecting a Single Column
#You can select a single column by using the column name in square brackets or using dot notation:
# Using square brackets
col_a = df['A']
print("\nColumn A:\n", col_a)

# Using dot notation (only works if the column name is a valid Python identifier)
col_b = df.B
print("\nColumn B:\n", col_b)

Column A:
 0    1
1    2
2    3
3    4
4    5
Name: A, dtype: int64

Column B:
 0    10
1    20
2    30
3    40
4    50
Name: B, dtype: int64

In [4]:
#First, import pandas and create a sample DataFrame:
import pandas as pd

# Create a sample DataFrame
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50],
    'C': [100, 200, 300, 400, 500],
    'D': [1000, 2000, 3000, 4000, 5000]
}

df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

Original DataFrame:
    A   B    C     D
0  1  10  100  1000
1  2  20  200  2000
2  3  30  300  3000
3  4  40  400  4000
4  5  50  500  5000

In [5]:
#Selecting Rows Based on a Condition
#You can select rows based on conditions applied to one or more columns:

#Example 1: Selecting rows where column A is greater than 3
rows_a_gt_3 = df[df['A'] > 3]
print("\nRows where column A is greater than 3:\n", rows_a_gt_3)

Rows where column A is greater than 3:
    A   B    C     D
3  4  40  400  4000
4  5  50  500  5000

In [ ]:
# Conditional selection in pandas allows you to filter rows in a DataFrame based on specific conditions. These conditions can be applied to one or multiple columns using logical operators. Below are various examples of conditional selection to illustrate how it works.

In [6]:
import pandas as pd

# Create a sample DataFrame
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50],
    'C': [100, 200, 300, 400, 500],
    'D': [1000, 2000, 3000, 4000, 5000]
}

df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

Original DataFrame:
    A   B    C     D
0  1  10  100  1000
1  2  20  200  2000
2  3  30  300  3000
3  4  40  400  4000
4  5  50  500  5000

In [7]:
#Selecting Rows Based on a Single Condition
#Example 1: Selecting rows where column A is greater than 3
rows_a_gt_3 = df[df['A'] > 3]
print("\nRows where column A is greater than 3:\n", rows_a_gt_3)

Rows where column A is greater than 3:
    A   B    C     D
3  4  40  400  4000
4  5  50  500  5000

In [ ]:
# Working with columns in a pandas DataFrame involves adding new columns, deleting existing ones, and updating column values. Below are explanations and examples for each of these operations.

In [8]:
import pandas as pd

# Create a sample DataFrame
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50],
    'C': [100, 200, 300, 400, 500]
}

df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

Original DataFrame:
    A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400
4  5  50  500

In [9]:
#Adding Columns
#Adding a Constant Value Column
#You can add a new column with constant values:
df['D'] = 1000
print("\nDataFrame after adding a constant value column 'D':\n", df)

DataFrame after adding a constant value column 'D':
    A   B    C     D
0  1  10  100  1000
1  2  20  200  1000
2  3  30  300  1000
3  4  40  400  1000
4  5  50  500  1000

In [10]:
#Deleting Columns
#Using drop Method
#You can delete columns using the drop method:
df = df.drop('D', axis=1)
print("\nDataFrame after deleting the column 'D':\n", df)

DataFrame after deleting the column 'D':
    A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400
4  5  50  500

In [11]:
#Updating Columns
#Updating a Column with New Values
#You can update an entire column with new values:
df['A'] = [10, 20, 30, 40, 50]
print("\nDataFrame after updating the column 'A':\n", df)

DataFrame after updating the column 'A':
     A   B    C
0  10  10  100
1  20  20  200
2  30  30  300
3  40  40  400
4  50  50  500

In [ ]:
#In pandas, an index is used to uniquely identify rows in a DataFrame. You can set, reset, and manipulate the index as needed. Hereâ€™s how you can work with the index in a DataFrame, including setting a column as an index and removing the index

In [12]:
import pandas as pd

# Create a sample DataFrame
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50],
    'C': [100, 200, 300, 400, 500]
}

df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

Original DataFrame:
    A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400
4  5  50  500

In [13]:
#Setting a Column as Index
#You can set one of the columns as the index using the set_index method. This method returns a new DataFrame unless you specify inplace=True.

#Example: Setting column A as the index
df_indexed = df.set_index('A')
print("\nDataFrame with column 'A' as index:\n", df_indexed)

DataFrame with column 'A' as index:
     B    C
A
1  10  100
2  20  200
3  30  300
4  40  400
5  50  500

In [14]:
#Removing the Index Completely
#If you want to remove the current index and replace it with a default integer index, you can reset the index and drop it.

#Example: Resetting and dropping the index
df_no_index = df_indexed.reset_index(drop=True)
print("\nDataFrame after resetting and dropping the index:\n", df_no_index)

DataFrame after resetting and dropping the index:
     B    C
0  10  100
1  20  200
2  30  300
3  40  400
4  50  500