In [1]:
#Set:
#Sets are used to store multiple items in a single variable.

#Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

#A set is a collection which is unordered, unchangeable*, and unindexed.

#Sets are written with curly brackets.

#Example
#Create a Set:

S1= {"apple", "banana", "cherry"}
print(S1)

{'apple', 'banana', 'cherry'}

In [2]:
#Set Items:
#Set items are unordered, unchangeable, and do not allow duplicate values.

#Unordered:
#Unordered means that the items in a set do not have a defined order.

#Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

#Unchangeable:
#Set items are unchangeable, meaning that we cannot change the items after the set has been created.

#Once a set is created, you cannot change its items, but you can remove items and add new items.

In [3]:
#Duplicates Not Allowed:
#Sets cannot have two items with the same value.

#Example
#Duplicate values will be ignored:

S2 = {"apple", "banana", "cherry", "apple"}
print(S2)

{'apple', 'banana', 'cherry'}

In [5]:
#The values True and 1 are considered the same value in sets, and are treated as duplicates:
#Example
#True and 1 is considered the same value:

S3 = {"apple", "banana", "cherry", True, 1, 2}
print(S3)

{True, 2, 'apple', 'banana', 'cherry'}

In [6]:
#The values False and 0 are considered the same value in sets, and are treated as duplicates:

#Example
#False and 0 is considered the same value:

S4= {"apple", "banana", "cherry", False, True, 0}
print(S4)

{False, True, 'apple', 'banana', 'cherry'}

In [7]:
#Get the Length of a Set:
#To determine how many items a set has, use the len() function.

#Example
#Get the number of items in a set:

S1 = {"apple", "banana", "cherry"}
print(len(S1))

3

In [8]:
#Set Items - Data Types:
#Set items can be of any data type:

#Example
#String, int and boolean data types:

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [9]:
#A set can contain different data types:

#Example
#A set with strings, integers and boolean values:

set1 = {"abc", 34, True, 40, "male"}

In [1]:
#type():
#From Python's perspective, sets are defined as objects with the data type 'set':

#<class 'set'>
#Example
#What is the data type of a set?

myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [11]:
#The set() Constructor
#It is also possible to use the set() constructor to make a set.

#Example
#Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}